// Green colors
$green-dark: #004D3C;
$green-leaf: #759D29;
$green-light: #E5F9E8;

// Orange colors
$orange-strong: #F09103;
$orange-light: #f091034d; 

// Blue colors
$blue-light: #66D7D1;

// Red colors
$red-strong: #ED0000;
$red-light: #FFCCDB;

// Yellow colors
$yellow-strong: #F5C109;
$yellow-light: #FFFDCC;

// Base components colors
$gray-100: #FFFBFB;

// Shadow colors
$shadow-base: 1.25px 4px 4px #00000040;
$shadow-menu: 1.25px 1.25px 4px #00000040;
