// Green colors
$green-800: #003328;
$green-dark: #004d3c;
$green-leaf-dark: #506b1c;
$green-leaf: #759d29;
$green-light: #e5f9e8;

// Orange colors
$orange-dark: #c47705;
$orange-strong: #f09103;
$orange-light: #f091034d;


// Blue colors
$blue-light: #66d7d1;

// Red colors
$red-strong: #ed0000;
$red-light: #fcdfe8;

// Yellow colors
$yellow-strong: #f5c109;
$yellow-light: #fffdcc;

// Base components colors
$gray-100: #fffbfb;
$gray-200: #f5f5f5;
$gray-300: #d9d9d9;
$gray-400: #a6a6a6;
$gray-500: #5c5c5c;

// Shadow colors
$shadow-base: 1.25px 4px 4px #00000040;
$shadow-menu: 1.25px 1.25px 4px #00000040;
