// Green colors
$green-100: #90daca;
$green-800: #003328;
$green-dark: #004d3c;
$green-leaf-dark: #506b1c;
$green-leaf: #759d29;
$green-light: #e5f9e8;
$green-strong: #23b73c;
$green-light: #ccffcf;

// Orange colors
$orange-dark: #c47705;
$orange-strong: #f09103;
$orange-light: #f091034d;
$orange-100: #fee9c9;


// Blue colors
$blue-strong: #0973f5;
$blue-100: #ddf0fc;
$blue-light: #66d7d1;

// Red colors
$red-strong: #ed0000;
$red-light: #fcdfe8;

// Yellow colors
$yellow-strong: #f5c109;
$yellow-light: #fffdcc;

// Base components colors
$gray-100: #FFFBFB;
$gray-200: #F5F5F5;
$gray-300: #D9D9D9;
$gray-400: #A6A6A6;
$gray-500: #5C5C5C;
$gray-500-60: #5c5c5c99;

// Shadow colors
$shadow-base: 1.25px 4px 4px #00000040;
$shadow-menu: 1.25px 1.25px 4px #00000040;
